$crema: #f7f6f2;
$darkCrema: #d7d4cc;
$Righteous: "Righteous", cursive;
$Rubik: "Rubik", sans-serif;
$Border-line: 1px solid $darkCrema;
// $Inter: 'Righteous', cursive;

.logo {
  font-family: $Righteous;
}

body {
  font-family: "Rubik", "Righteous", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $darkCrema;
  h1 {
    margin: 0;
    box-sizing: border-box;
  }
}

.padding-20 {
  padding: 0 20px 0 20px;
}

.wrapper {
  background-color: $crema;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 10px auto;
}

header {
  border-bottom: 1px solid $darkCrema;
  font-family: $Rubik;
  padding: 5px 0 5px 0;
  .headerLeft {
    column-gap: 20px;
    font-family: $Rubik;
  }
  .headerRight {
    column-gap: 20px;
    justify-content: flex-end;
  }
  .max-w-header {
    width: 285.77px;
  }
}

.previewBlock {
  border-bottom: $Border-line;

  .previewLeft {
    border-right: $Border-line;
    width: 50%;
    flex-direction: column;

    img {
      border-radius: 20px;
      border: $Border-line;
    }
    h1 {
      font-family: $Righteous;
      padding-bottom: 20px;
      font-size: 50px;
    }

    h3 {
      font-family: $Rubik;
      font-weight: lighter;
      width: 400px;
      font-size: 20px;
    }

    button {
      font-family: $Rubik;
      width: 170px;
      height: 50px;
      font-size: 18px;
      border: $Border-line;
      box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.101);
    }

    button:hover {
      transition: 1s;
      box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.217);
      cursor: pointer;
    }

    .blackButtonPreview {
      background-color: black;
      color: white;
      margin-right: 20px;
    }

    .whiteButtonPreview {
      border: $Border-line;
      background-color: $crema;
    }
  }

  .previewRight {
    flex-direction: column;
    width: 50%;
    .previewRightUp {
      padding-bottom: 40px;
      border-bottom: $Border-line;
      img {
        margin: 25px 0 0 40px;
      }
      h3 {
        margin: 15px 40px 10px 40px;
        font-family: $Rubik;
        font-weight: 500;
      }
      a {
        margin-left: 40px;
        text-decoration: underline;
        font-family: $Rubik;
        font-weight: 300;
      }
    }
    .previewRightDown {
      padding-top: 40px;
      flex-direction: column;
      img {
        width: 400px;
        border-radius: 20px;
      }

      .priceSale {
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-between;
        width: 400px;
        padding-bottom: 20px;
        h1 {
          font-family: $Rubik;
          font-weight: 500;
          font-size: 25px;
        }
        span {
          font-family: $Rubik;
          font-weight: 500;
          font-size: 20px;
        }
      }
    }
    .previewRightDown:hover {
      img {
        transition: 1s;
        box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.217);
      }
    }
  }
}

main {
  border-bottom: 1px solid $darkCrema;
  .categories {
    margin: 60px 60px 30px 60px;
    .categoriesUpCard {
      overflow: hidden;
      width: 48%;
      border-radius: 20px;
      border: $Border-line;

      button {
        margin-left: 20px;
        width: 130px;
        height: 40px;
        border-radius: 20px;
        font-family: $Rubik;
        font-size: 100%;
        border: none;
        background-color: #fe4d4e;
        color: $crema;
        opacity: 0;
      }

      .article {
        margin: 5px 20px 0 30px;
        align-items: center;

        h1 {
          font-family: $Rubik;
          font-weight: 400;
          font-size: 20px;
        }
      }
    }
  }

  .categoriesUpCard:hover {
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.217);
    transition: 0.8s;
    transform: translateY(-5px);
    button {
      transition: 1.2s;
      opacity: 1;
    }
  }
  .categoriesDown {
    .categoriesDownCard {
      margin: 30px 0 30px 0;
      overflow: hidden;
      width: 22%;
      border-radius: 20px;
      border: $Border-line;

      h1 {
        font-family: $Rubik;
        font-weight: 400;
        font-size: 20px;
      }

      .article {
        margin: 5px 20px 0 20px;
        align-items: center;
      }

      button {
        margin-left: 20px;
        width: 55px;
        height: 50px;
        border-radius: 20px;
        border: none;
        background-color: #fe4d4e;
        opacity: 0;
        fill: $crema;
      }
    }
  }

  .categoriesDownCard:hover {
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.217);
    transition: 0.8s;
    transform: translateY(-5px);
    button {
      transition: 1.2s;
      opacity: 1;
    }
  }
}

footer {
  img {
    margin: 30px 20px 30px 60px;
  }
  img:hover {
    transition: 1s;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.217);
  }
}
